canvas {
	width: 100%;
	height: 100%;
	display: block;
	background: url("../images/assets/hallway_tall.png") no-repeat center center;
	background-size: cover;
}

h1 {
	font-family: 'Chiller';
	font-size: 60px;
}

h2 {
	font-family: 'Chiller';
	font-size: 50px;
}

a {
	color: rgba(109, 52, 82, 0.993);
}

a:hover {
	color: rgb(182, 72, 127);
}

a:active {
	color: red;
}

body {
	background: black;
	overflow-x: hidden;
	
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

body,p {
	padding:0;
	margin: 0;
}

#viewport{
	top: 0;
	left: 0;
	width: 100%;
	z-index: -3;
	height: 100%;
	display: block;
	position: fixed;
	pointer-events: none;
}

#video-bg {
    transform: translate(-50%, -50%);
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    height: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    z-index: -2;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 140px;
    border-left: 1px solid rgba(0,0,0);
    transform: translateX(100%);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    visibility: hidden;
	background-color: rgba(14, 3, 3, .9);
    background-clip: padding-box;
    outline: 0;
    transition: transform .1s ease-in-out;
}

.btn-sticky { 
	position: fixed; 
	top: 35px; 
	right: 26px; 
	height: 60px;
	width: 95px;
	z-index: 2;
}

.content-button {
	color:		red;
	line-height:	1.2;
	height: 39px;
	width: 89px;
	margin-top: 0px;
}

.bg-dark {
    --bs-bg-opacity: .25;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.selector {
	width:	50%;
}

.chiller {
	color:		red;
	font-family: 'Chiller';
	font-size: 26px;
}

.content {
	color:		red;
	font-size:	18px;
	font-family:sans-serif;
	line-height:	1.2;
}

.card {
    display:inline-block;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #1b1f22;
    border: 1px solid rgba(0,0,0,.0);
}



.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.transition-fade {
	opacity:1;
	transition: 300ms;
}

html.is-animating .transition-fade {
	opacity:0;
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	visibility: hidden;
}
   
::-webkit-scrollbar-thumb {
	background: rgb(51, 51, 51); 
	border-radius: 10px;
}

.animated {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.portrait {
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	max-width: 600px;
	max-height: 600px;
	border-radius: 20%
}

.poster {		
	width: 250px;
	height: 300px;
}

.ratings {
	font-size: 16px;
	font-weight: 900;
	white-space:nowrap;
}

.longtitle{
	white-space:nowrap;
}

.btn-lg-nav {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
	width: 100px;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@media(max-width:1000px) {

	.portrait {
		width:450px;
	}

}

@media(min-width:720px) {
	
}

@media all and (max-width:480px) {
	.content-button {
		color:		red;
		line-height:	1.2;
		height: 50px;
		margin-top: 7px;
	}
}

/* Loading Screen ///////////////////////////*/
div.loader {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: #000000;
	transition: all 0.3s;
	z-index: 1003;
}
div.loader div.logo {
	width: 80%;
	height: 0;
	padding-top: 39.94%;
	background: url("../images/logo_splash.webp") no-repeat center center;
}
div.loader div.ring {
	align-items: center;
	position: relative;
	width: 100px;
	height: 100px;
	border: 5px solid #ff3d00;
	border-radius: 50%;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation: rotate 1.5s linear infinite;
}
div.loader span {
	color: white;
	padding-top: 20px;
}
@keyframes rotate {
	100%{ transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
	100%{ transform: rotate(360deg); }
}
/* /////////////////////////////////////////////////// */

/* Accordion /////////////////////////////////////////*/
.chiller-button {
	color:		red;
	font-family: 'Chiller';
	font-size: 40px;
}

.accordion-button:not(.collapsed) {
    color: #ff0000;
    background-color: #212529;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff3d00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff3d00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

.accordion-button:focus {
    z-index: 3;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 10%);
}
/* //////////////////////////////////////////////////*/

/* Advanced Ruleset Complex /////////////////////////*/
.modal-header {
    border-bottom: 1px solid red;
}

.modal-content {
    background-color: #1b1f22;
}

.nav-link:focus, .nav-link:hover {
	color: rgba(109, 52, 82, 0.993);
}

.modal-backdrop.show
{
    opacity:0.8;
}
/* ///////////////////////////////////////////////// */

/* Display Specific Styles /////////////////////////*/
@media only screen and (orientation: landscape) {
	/* Desktop Styles for Landscape */
	div.loader div.logo {
		background-size:	70% auto;
	}
}
@media only screen and (orientation: portrait) {
	/* Desktop Styles for Portrait */
	div.loader div.logo {
		margin-bottom: 50px;
		background-size: 100% auto;
	}
}
@media screen and (max-device-width: 480px) {
	/* Mobile Styles in Both Modes */
	nav.nav ul li {
		font: bold normal normal 50px/normal dungeon;
		width: 110px;
		height:110px;
	}
}

@media screen and (max-device-width: 720px) and (orientation: portrait) {
	/* Mobile Styles in Portrait Mode */
}
@media screen and (max-device-height: 720px) and (orientation: landscape) {
	/* Mobile Styles in Landscape Mode */
}

@font-face {
	font-family: 'Chiller';
	src:  url('chiller.woff2') format('woff2'),
          url('chiller.woff') format('woff');
}

/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com
*/
