canvas {
	width: 100%;
	height: 100%;
	display: block;
}

#viewportA {
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	display: block;
	position: fixed;
	pointer-events: none;
}

#viewportB {
	top: 0;
	left: 0;
	width: 100%;
	z-index: -2;
	height: 100%;
	display: block;
	position: fixed;
	pointer-events: none;
}

#viewportC {
	top: 0;
	left: 0;
	width: 100%;
	z-index: -3;
	height: 100%;
	display: block;
	position: fixed;
	pointer-events: none;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 200px;
    border-left: 1px solid rgba(0,0,0);
    transform: translateX(100%);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    /* background-color: rgba(182, 35, 35, 0.5); */
	background-color: rgba(14, 3, 3, .9);
    background-clip: padding-box;
    outline: 0;
    transition: transform .1s ease-in-out;
}

.btn-sticky { 
	position: fixed; 
	top: 40px; 
	right: 57px; 
	height: 70px;
	width: 84px;
}

.selector {
	width:	50%;
}

body {
	background: black;
}

body,p {
	padding:0;
	margin: 0;
}

.content {
	color:		red;
	font-size:	24px;
	font-family:sans-serif;
	line-height:	1.2;
}

.content-button {
	color:		red;
	font-size:	20px;
	font-family:sans-serif;
	line-height:	1.2;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.transition-fade {
	opacity:1;
	transition: 300ms;
}

html.is-animating .transition-fade {
	opacity:0;
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	visibility: hidden;
}
   
::-webkit-scrollbar-thumb {
	background: rgb(51, 51, 51); 
	border-radius: 10px;
}

.animated {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.portrait {
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	max-width: 600px;
	max-height: 600px;
	border-radius: 20%
}


.poster {		
	width: 250px;
	height: 300px;
}

.ratings {
	font-size: 16px;
	font-weight: 900;
	white-space:nowrap;
}

/* Loading Screen */
div.loader {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: #000000;
	transition: all 0.5s;
	z-index: 1003;
}

div.loader div.logo {
	width: 100%;
	height: 0;
	padding-top: 39.94%;
	background-position:center;
	background-repeat:	no-repeat;
	background-image:	url("../images/logo3.png");
}

div.loader div.ring {
	align-items: center;
	position: relative;
	width: 100px;
	height: 100px;
	border: 5px solid #ff3d00;
	border-radius: 50%;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation: rotate 1.5s linear infinite;
}

div.loader span {
	color: white;
	padding-top: 20px;
}

.btn-lg-nav {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
	width: 100px;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@media(max-width:700px) {

	.portrait {
		height:350px;
		width:350px;
	}

	
}

@media(min-width:1000px) {

	.btn-sticky { 
		position: fixed; 
		top: 35px; 
		right: 63px; 
		height: 60px;
		width: 74px;
	}
	.content {
		color:		red;
		font-size:	20px;
		font-family:sans-serif;
		line-height:	1.2;
	}
}

/*
a {
	color: red;
	text-decoration: none;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin:0px;
	margin-bottom:10px;
}

.portrait {
	width:45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	margin-bottom:50px;
	border-radius: 20%
}

.title {
	font-size: 50px;
	font-weight: 800;
	color: black;
	position: absolute;
	top: 20px;
	margin-left: 27%;
	margin-right: 20%;
	text-shadow: -2px 0 #943335, 0 2px #943335, 2px 0 #943335, 	0 -2px #943335;
}

.title {
	font-size: 12px;
	font-weight: 1;
	color: black;
	position: absolute;
	width:70%
	text-shadow: -2px 0 #943335, 0 2px #943335, 2px 0 #943335, 	0 -2px #943335;
}

.banner {
	width:50%;
	height:240px;
	display: block;
	margin-left: 50%;
	margin-right: 50%;
	margin-top:0px;
	margin-bottom:50px;
	background-image:url("imgs/banner.png");
	background-position: 90px;
	position: relative;
	text-align: center;
}

.intro {
	text-align: center;
	width:45%;
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
}

.entry {	
	margin-right: 20%;
	margin-left:20%;
}

.ratings {
	font-size: 16px;
	font-weight: 900;
	margin-right:5px;
}

.skulls {
	margin-left:4px;
	margin-right:4px
	height: 15px;
	width: 15px;
}

@media(max-width:700px) {
	.poster{
		height: 200px;
		width: 175px;
	}

	.skulls{
		margin-left: 1px;
		margin-right: 1px;
	}

	
	.title {
		margin-left:5%;
		margin-right:5%;	
		top: 10px;
	}

	
	.portrait {
		width: 90%;
	}

}
*/
