/* Main Page Content */
canvas {
	width: 100%;
	height: 100%;
	display: block;
	background-color: black;
}
header {
	width:		100%;
	height:		400px;
	max-width:	1920px;
	max-height: 660px;
	margin:		0px auto 0px auto;
	padding:	0;

	background-position:center;
	background-repeat:	no-repeat;
	background-size:	auto 100%;
}
body {
	background: black;
}
section,footer {
	text-align: center;
}
body,p,nav,ul,li,a,footer,#content {
	padding: 0;
	margin: 0;
}
.animated {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
#viewport {
	top: 0;
	left: 0;
	width: 100%;
	z-index: -2;
	height: 100%;
	display: block;
	position: fixed;
	pointer-events: none;
}
@font-face {
  font-family: dungeon;
  src: url(../dungeon.ttf);
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


/* Navigation Buttons */
section {
	position: fixed;
	z-index: 1002;
}
nav.nav ul {
	box-shadow: 0px 0px 9px rgba(0,0,0,0.75);
	list-style: none;
	position: relative;
	display: inline-table;
}
nav.nav ul ul {
	display: none;
}
nav.nav ul li {
	background-position: center;
	background-image: url("../images/button.webp");
	background-size: 100% 100%;
	color: #ffffff;
	font: bold normal normal 30px/normal dungeon;
	width: 75px;
	height: 75px;
}
nav.nav ul li a {
	display: block;
	color: inherit;
	text-decoration: none;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
nav.nav ul li ul {
	margin: 0;
}
nav.nav ul ul li {
	float: none;
	position: relative;
}
nav.nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0px;
}
nav.nav ul li:hover {
	box-shadow: 0px 0px 9px rgba(0,0,0,0.75);
}
nav.nav ul li:hover > ul {
	display: block;
	position: absolute;
}
nav.nav ul li:hover > a {
	color: #999999;
}
#nav1 {
	top: 20px;
	left: 20px;
}
#nav2 {
	bottom: 20px;
	right: 20px;
}


/* Loading Screen */
div.loader {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: #000000;
	transition: all 0.5s;
	z-index: 1003;
}
div.loader div.logo {
	width: 100%;
	height: 0;
	padding-top: 39.94%;
	background-position:center;
	background-repeat:	no-repeat;
	background-image:	url("../images/banner.webp");
}
div.loader div.ring {
	align-items: center;
	position: relative;
	width: 100px;
	height: 100px;
	border: 5px solid #ff3d00;
	border-radius: 50%;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation: rotate 1.5s linear infinite;
}
div.loader span {
	color: white;
	padding-top: 20px;
}
@keyframes rotate {
	100%{ transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
	100%{ transform: rotate(360deg); }
}


/* Display Specific Styles */
@media only screen and (orientation: landscape) {
	/* Desktop Styles for Landscape */
	div.loader div.logo {
		background-size:	70% auto;
	}
}
@media only screen and (orientation: portrait) {
	/* Desktop Styles for Portrait */
	div.loader div.logo {
		margin-bottom: 50px;
		background-size: 100% auto;
	}
}
@media screen and (max-device-width: 480px) {
	/* Mobile Styles in Both Modes */
	nav.nav ul li {
		font: bold normal normal 50px/normal dungeon;
		width: 110px;
		height:110px;
	}
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	/* Mobile Styles in Portrait Mode */
}
@media screen and (max-device-width: 480px) and (orientation: landscape) {
	/* Mobile Styles in Landscape Mode */
}